%script#template-messages(type='text/x-handlebars-template')
  %fieldset
    %h5.legend Messages
    %ul.list
    %hr
    %p
      %input#message(type='text' name='message')
      %fieldset.buttons
        %ol
          %li.commit
            %input#send(type='submit' name='send' value='Send')
          %li
            %a.sign-out(href='javascript:void(0)') Sign Out

%script#template-message(type='text/x-handlebars-template')
  %li.message-item
    .from(class="{{type}}") {{from}}
    .content {{content}}
