%script#template-messages(type='text/x-handlebars-template')
  %header
    %h1 Messages
  %ul.list
  %br
  %p
    Message to send:
    %input(type='text' name='message')
    %input(type='submit' name='send' value='Send')

%script#template-message(type='text/x-handlebars-template')
  %li
    %strong.from {{from}}
    .content {{content}}
