%script#template-messages(type='text/x-handlebars-template')
  %header
    %h1 Messages
  %ul.list

%script#template-message(type='text/x-handlebars-template')
  %li
    %strong.from {{from}}
    .content {{content}}
