%script#template-session(type='text/x-handlebars-template')
  %fieldset
    %h5.legend Account Information
    {{#if username}}
    %p
      .error(style='display: inline-block') {{username}}
    %p
      status: Signed-in
    %p
      %a.sign-out(href='javascript:void(0)') Sign Out
    {{else}}
    %p
      Enter your username
      %input.username(type='text')
      and
      %input.sign-in(type='submit' value='Sign In')
    {{/if}}
