%script#template-session(type='text/x-handlebars-template')
  %fieldset
    %h5.legend Account Information
    %br
    {{#if username}}
    %p
      Username
      %strong {{username}}
    %p
      Status
      %strong Signed-in
    {{else}}
    %p
      Enter your username
      %input.username(type='text')
      and
      %input.sign-in(type='submit' value='Sign In')
    {{/if}}
