!!!
%html
  %head
    %title MockBone
    %link(rel='stylesheet' media='screen' charset='utf-8' href='/stylesheets/application.css')
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')

  %body
    #container
      %section#session
      %section#messages

    / Templates
    = haml :_messages
    = haml :_session

    / JavaScripts
    %script(src='/faye.js')
    %script(src='/javascripts/jquery-min.js')
    %script(src='/javascripts/handlebars.js')
    %script(src='/javascripts/underscore-min.js')
    %script(src='/javascripts/backbone-min.js')
    %script(src='/javascripts/application.js')
